.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 48px;
    /* or whatever spacing you want */
    justify-content: center;
    margin-top: 50px;
}

.gallery-title {
    text-align: center;
}