.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Add this to center vertically */
    text-align: center;

    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    /* Full viewport height */
}

.description {
    margin-bottom: 90px;
}